{% extends "website/base.html" %}

{% block content %}
    <div class="cellContainer">
        <div class="cell map">
            {% SiteMap "html" %}
        </div>

        <div class="cell render">
            {% block insideRender %}
                <iframe
                    src="/render/{{website.id}}/{{page.id if page and page is not none else '' }}"
                    class="renderer"
                    id="mainRender">
                </iframe>
            {% endblock %}
        </div>
    </div>
{% endblock %}
